# 프로젝트 설명
- 우리 사이트는 쥬얼리 전문 쇼핑몰 "에끌라린" 입니다.

### 기술스택
- 패키지매니저 pnpm
- Typescript 사용안함 
- 백엔드: supabase를 사용해주세요.
- 백엔드: 테이블 수정/추가 시에는 제가 sqleditor에 입력할 수 있도록 쿼리를 제공해주세요.
- 백엔드: 테이블 수정/추가 시에 src/sql/table_info.md 파일에 저장해주세요.
